


{# This bit of debugging info will show the full path to and name of this
template file to make it easier to figure out which template is
controlling which author pane. #}
{% if (show_template_location is not empty) %}
{{ }}
{% endif %}


<div class="author-pane">
  <div class="author-pane-inner">
    {# General section #}
    <div class="author-pane-section author-pane-general">
      {# Account name #}
      <div class="author-pane-line author-name">
        {{ account_name }}
      </div>

      {# User picture / avatar (has div in variable) #}
      {% if (picture is not empty) %}
      {{ picture }}{% endif %}
      {% endif %}

      {# Online status #}
      {% if (online_status is not empty) %}
      <div class="author-pane-line {{ online_status_class }}">
        {{ online_status }}{% endif %}
      </div>
      {% endif %}

      {# Last active #}
      {% if (last_active is not empty) %}
      <div class="author-pane-line">
        <span class="author-pane-label">{{ t('Last seen') }}{% endif %}:</span> {{ t('!time ago', {('!time' : last_active) }
      </div>
      {% endif %} ) }}

      {# User title #}
      {% if (user_title is not empty) %}
      <div class="author-pane-line author-title">
        <span class="author-pane-label">{{ t('Title') }}{% endif %}:</span> {{ user_title }}
      </div>
      {% endif %}

      {# User badges #}
      {% if (user_badges is not empty) %}
      <div class="author-pane-line author-badges">
        {{ user_badges }}{% endif %}
      </div>
      {% endif %}

      {# Joined #}
      {% if (joined is not empty) %}
      <div class="author-pane-line author-joined">
        <span class="author-pane-label">{{ t('Joined') }}{% endif %}:</span> {{ joined }}
      </div>
      {% endif %}

      {# Posts #}
      {% if (user_stats_posts is defined) %}
      <div class="author-pane-line author-posts">
        <span class="author-pane-label">{{ t('Posts') }}{% endif %}:</span> {{ user_stats_posts }}
      </div>
      {% endif %}

      {# Points #}
      {% if (userpoints_points is defined) %}
      <div class="author-pane-line author-points">
        <span class="author-pane-label">{{ t('!Points', userpoints_translation()) }}{% endif %}</span>: {{ userpoints_points }}
      </div>
      {% endif %}
    </div>

    {# Contact section #}
    <div class="author-pane-section author-pane-contact">
      {# Contact / Email #}
      {% if (contact is not empty) %}
      <div class="author-pane-line author-pane-link-line author-contact">
        {{ contact }}{% endif %}
      </div>
      {% endif %}

      {# Private message #}
      {% if (privatemsg is not empty) %}
      <div class="author-pane-line author-pane-link-line author-privatemsg">
        {{ privatemsg }}{% endif %}
      </div>
      {% endif %}

      {# User relationships #}
      {% if (user_relationships is not empty) %}
      <div class="author-pane-line author-pane-link-line author-user-relationship">
        {{ user_relationships }}{% endif %}
      </div>
      {% endif %}

      {# Flag friend #}
      {% if (flag_friend is not empty) %}
      <div class="author-pane-line author-pane-link-line author-flag-friend">
        {{ flag_friend }}{% endif %}
      </div>
      {% endif %}
    </div>

    {# Admin section #}
    <div class="author-pane-section author-pane-admin">
      {# IP #}
      {% if (user_stats_ip is not empty) %}
      <div class="author-pane-line author-ip">
        <span class="author-pane-label">{{ t('IP') }}{% endif %}:</span> {{ user_stats_ip }}
      </div>
      {% endif %}

      {# Fasttoggle block #}
      {% if (fasttoggle_block_author is not empty) %}
      <div class="author-fasttoggle-block">{{ fasttoggle_block_author }}{% endif %}</div>
      {% endif %}
    </div>
  </div>
</div>
