



<div class="col-md-12">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3>{{ t('Legend') }}</h3>
    </div>
    <div class="panel-body">
      <div class="forum-topic-legend clearfix">
        <div class="topic-icon-new">{{ t('New posts') }}</div>
        <div class="topic-icon-default">{{ t('No new posts') }}</div>
        <div class="topic-icon-hot-new">{{ t('Hot topic with new posts') }}</div>
        <div class="topic-icon-hot">{{ t('Hot topic without new posts') }}</div>
        <div class="topic-icon-sticky">{{ t('Sticky topic') }}</div>
        <div class="topic-icon-closed">{{ t('Locked topic') }}</div>
      </div>
    </div>
    <div class="panel-footer"></div>
  </div>
</div>


