



<div class="forum-search-result">
  {% for id,field in fields %}
  {% if (field.separator is not empty) %}
  {{ field.separator }}{% endif %}{% endfor %}
  {% endif %}

  <{{ field.inline_html }} class="views-field-{{ field.class }}">
  {% if (field.label) %}
  <label class="views-label-{{ field.class }}{% endif %}">
    {{ field.label }}:
  </label>
  {% endif %}
  {# $field->element_type is either SPAN or DIV depending upon whether or not
  the field is a 'block' element type or 'inline' element type. #}

  <{{ field.element_type }} class="field-content">{{ field.content }}</{{ field.element_type }}>
</{{ field.inline_html }}>
{% endfor %}
</div>
