


<div class="py-5">
  {{ render(title_prefix) }}
  {% if (title) %}
  {{ title }}{% endif %}
  {% endif %}
  {{ render(title_suffix) }}
  {% if (header) %}
  <div class="text-center">
    {{ header }}{% endif %}
  </div>
  {% endif %}

  {% if (exposed) %}
  <div class="view-filters">
    {{ exposed }}{% endif %}
  </div>
  {% endif %}

  {% if (attachment_before) %}
  <div class="attachment attachment-before">
    {{ attachment_before }}{% endif %}
  </div>
  {% endif %}

  {% if (rows) %}
  <div class="container">
    <!--Carousel Wrapper-->
    <div id="multi-item-example" class="carousel slide carousel-multi-item mb-0">
      {{ rows }}{% endif %}
    </div>
    <!--/.Carousel Wrapper-->
  </div>
  {% elseif (empty) %}
  <div class="view-empty">
    {{ empty }}{% endif %}
  </div>
  {% endif %}

  {% if (pager) %}
  {{ pager }}{% endif %}
  {% endif %}

  {% if (attachment_after) %}
  <div class="attachment attachment-after">
    {{ attachment_after }}{% endif %}
  </div>
  {% endif %}

  {% if (more) %}
  {{ more }}{% endif %}
  {% endif %}

  {% if (footer) %}
  <div class="view-footer">
    {{ footer }}{% endif %}
  </div>
  {% endif %}

  {% if (feed_icon) %}
  <div class="feed-icon">
    {{ feed_icon }}{% endif %}
  </div>
  {% endif %}

</div>{# class view #}
